<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <!-- <h4>{{ contact.name }}</h4> -->
            <h3 style="margin-left: .5em;"></h3>
            <div class="pull-left">
                <img 
                    src="{{contact.imageUrl}}" 
                    alt="{{contact.name}}" 
                    class="img-responsive" 
                    style="max-height: 100px; margin-left: .5em;">
            </div>
            <div class="pull-right">
                <button class="btn btn-primary" style="margin-right: .5em;">Edit</button>
                <button class="btn btn-danger" style="margin-right: .5em;">Delete</button>
            </div>  
        </div>
    </div>
    <div class="panel-body">
        <p>Email: <span> {{ contact.email }}</span></p>
        <p>Phone: <span>{{ contact.phone }}</span></p>
    </div>
</div>