<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <h4 style="margin-left: .5em; font-weight: bold;">{{ contact.name }}</h4>
            <h3 style="margin-left: .5em;"></h3>
            <div class="pull-left">
                <img 
                    src="{{contact.imageUrl}}" 
                    alt="{{contact.name}}" 
                    class="img-responsive" 
                    style="max-height: 100px; margin-left: .5em;">
            </div>
            <div class="pull-right">
                <a class="btn btn-primary" style="margin-right: .5em;" routerLink="edit">Edit</a>
                <a class="btn btn-danger" style="margin-right: .5em;" (click)="onDelete()">Delete</a>
            </div>  
        </div>
    </div>
    <div class="panel-body">
        <p><strong>Email:</strong>  <span> {{ contact.email }}</span></p>
        <p><strong>Phone:</strong>  <span>{{ contact.phone }}</span></p>

        <p *ngIf="contact.group">Contacts in Team:</p>
		<div class="panel-body" *ngIf="contact.group">
			<div class="row">
				<div class="col-xs-12" *ngFor="let contact of contact.group">
					<div class="pull-left">
						<p class="list-group-item-heading">{{contact.name}}</p>
					</div>
					<span class="pull-right">
						<img src="{{contact.imageUrl}}" alt="{{contact.name}}" class="img-responsive" style="max-height: 80px;">
					</span>
				</div>
			</div>
        </div>
    </div>
</div>