<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <h4 class="pull-left" style="margin-left:.5em; font-weight: bold;">Contacts</h4>
        <button class="btn btn-success pull-right" style="margin-right: .5em;">New Contact</button>
      </div>
    </div>
    <div class="panel-body">
        <app-contact-item
            *ngFor="let contactEl of contacts"
            [contact]="contactEl"
            (click)="onSelected(contactEl)">
        </app-contact-item>
    </div>
</div>