<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <h4 class="pull-left" style="margin-left:.5em; font-weight: bold;">Contacts</h4>
        <button class="btn btn-success pull-right" style="margin-right: .5em;">New Contact</button>
      </div>
    </div>
    <div class="panel-body">
        <a 
        href="#" 
        class="list-group-item clearfix" 
        *ngFor="let contact of contacts">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ contact.name }}</h4>
                <!-- <p class="list-group-item-text">{{ contact.description }}</p> -->
            </div>
            <span class="pull-right">
                <img 
                src="{{ contact.imageUrl }}" 
                alt="{{ contact.name }}" 
                class="img-responsive" 
                style="max-height: 50px;">
            </span>
        </a>
    </div>
</div>