<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <h4 class="pull-left" style="margin-left:.5em; font-weight: bold;">Contacts</h4>
        <a class="pull-right btn btn-success" routerLink="new">New Contact</a>      
      </div>
    </div>
    <div class="panel-body">
        <app-contact-item
            *ngFor="let contactItem of contacts"
            [contact]="contactItem"
            dnd-draggable
					  [dragEnabled]="true" 
            [dragData]="contactItem" 
            [dropZones]="['contactGroup']">
        </app-contact-item>
    </div>
</div>